# Configuración del servidor
PORT=3000

# Configuración del entorno
NODE_ENV=development

# Base de datos (para futuras implementaciones)
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=productos_db
# DB_USER=usuario
# DB_PASSWORD=password
